@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1515474477699-918a9df124dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

body * {
    z-index: 1;
}

h1 {
    font-size: 60px;
    margin: -80px 0 40px;
}

.countdown {
    display: none;
    justify-content: center;
    align-items: center;
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.time h2 {
    margin: 0 0 5px;
}

.newyear {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    opacity: 0.5;
    z-index: -1;
}

.loading {
    width: 150px;
}

@media(max-width:500px) {
    h1 {
        font-size: 45px;
    }
    
    .time {
        margin: 5px;
    }

    .time h2 {
        font-size: 12px;
        margin: 0;
    }

    .time small {
        font-size: 10px;
    }
}